.column {
  float: left;
  width: 33.33%;
}

h4 {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.question-mark{
  opacity: 30%;
  margin-bottom: 20px;
}

.battle-symbol{
  height: auto;
  width: auto;
  font-size: 150px;
}


